*{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 5px;
}

#titel{

    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}
legend{
    font-size: 25px;
}

form{
    max-width: 30%;
}

/* Game screen */
#speler{
    width: 200px;
    height: 200px;
}

.timebomb {
    margin: 200px;
}

/* Helper classes */
.flex {
    display: flex;
    justify-content: space-between;
}