*{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 5px;
    font-size: 20px;
}

body{
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black !important;
}

label{
    font-size: 20px;
}
.container {
    margin: auto;
}

.dataform {
    margin:  0-auto;
}

#titel{

    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}
legend{
    font-size: 25px;
}

form{
    max-width: 50%;
    margin: auto;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
}

#playernames { 
    font-size: 1.3rem; 
    border: 2px dashed black; 
    border-radius: 10px; 
    text-align: center; 
    padding: 10px; 
} 

.playeramount {
    text-align: center;
}

.backtostart {
    text-align: center;
    margin: auto;
}

/* Begin Game screen */
#speler{
    width: 200px;
    height: 200px;
}

.timebomb {
    margin: 200px;
    color: whitesmoke;
}

.timebomb h1 {
    text-align: center;
}
/* End Game screen */


/* Begin Startscreen page */
.startbackground {
    background-color: #008000;
}

.logo {
    text-align: center;
}

.logo > img {
    width: 50%;
}

body > div.namefield > form > div.form-group.col-md-8.col-md-offset-4.nameInput {
    margin: auto;
    padding-bottom: 20px;
    width: 50%;
}

body > div.namefield > form > div.form-group.text-center > input {
    padding: 10px 20px;
}

/* Helper classes */
.flex {
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}
.hoi{
    background-color:#ddddddb3;
}

/*opmaak spelers*/
#speler{
    border-radius: 5px;
    text-align: center;
    display: table;
    border-radius: 50%;
    
}
h2
{
    display:table-cell;
     vertical-align:middle;     
    
}

/*mobiele styling*/
@media only screen and (max-width: 1300px) {
    .playerAmount{
       flex-wrap: wrap;
   
    }
    #speler{
        width: 150px;
        height: 150px;
    }
    #tijdtext{
        position: float;
        text-align: center;
    }

    
}

@media only screen and (max-width: 600px) {
    .timebomb{
        margin: 80px;
    }

    
}