*{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 5px;
}

#titel{

    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}
legend{
    font-size: 25px;
}

form{
    max-width: 30%;
}

.spelers{
    padding-right:60px;
}

.spelers-row-1 {
    margin: 40px;
}

.spelers-row-2 {
    margin: 40px;
}

#speler1{
    background-color: red;
    width: 200px;
    height: 200px;
}
#speler2{
    right:220px; */
    background-color: orange;
    width: 200px;
    height: 200px;
}
#speler3{
    background-color: yellow;
    width: 200px;
    height: 200px;
}
#speler4{
    background-color: green;
    width: 200px;
    height: 200px;
}
#speler5{
    background-color: blue;
    width: 200px;
    height: 200px;
}
#speler6{
    background-color: purple;
    width: 200px;
    height: 200px;
}

.flex {
    display: flex;
    justify-content: space-around;
}



/* Game page start */


.clock {
    margin: 0-auto !important;
    text-align: center;
    margin: 100px 0px 100px 0px;
}

.players {
    align-self: right;
}

.timer h1{
    text-align: center;
}