*{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    margin: 5px;
}

#titel{

    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
}
legend{
    font-size: 25px;
}

form{
    max-width: 30%;
}

.spelers{
    padding-right:60px;
}

.spelers-row-1 {
    margin: 40px;
}

.spelers-row-2 {
    margin: 40px;
}

#speler1{
    /* position: fixed;
    top:0;
    right:0; */
    background-color: red;
    width: 200px;
    height: 200px;
}
#speler2{
    /* position: fixed;
    top:0;
    right:220px; */
    background-color: orange;
    width: 200px;
    height: 200px;
}
#speler3{
    /* position: fixed;
    top:0;
    right:440px; */
    background-color: yellow;
    width: 200px;
    height: 200px;
}
#speler4{
    /* position: fixed;
    bottom: 0;
    right:0; */
    background-color: green;
    width: 200px;
    height: 200px;
}
#speler5{
    /* position: fixed;
    bottom: 0;
    right:220px; */
    background-color: blue;
    width: 200px;
    height: 200px;
}
#speler6{
    /* position: fixed;
    bottom: 0;
    right:440px; */
    background-color: purple;
    width: 200px;
    height: 200px;
}

.flex {
    display: flex;
    justify-content: space-around;
}
